<script type="text/css">
  #loader {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
  }
</script>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ashraya</title>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Stylesheets -->
  
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  


  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
<header class="main-header header-style-two">
      <!-- Header Upper-->
      <div class="header-upper">
          <div class="auto-container">
              <div class="clearfix">
                    
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="index.html" title="CharityPro"><img src="/assets/ashraya.png" alt="CharityPro" title="CharityPro"></a></div>
                    </div>
                    
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->      
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="current"><a href="/">Home</a>
                                        
                                    </li>
                                    <li class=""><a href="/about_us">About Us</a>
                                        
                                    </li>
                                    <li class=""><a href="/sponsor_meal">Sponsor a meal</a>
                                        
                                    </li>
                                    <li class=""><a href="/partners">Partners</a>
                                        
                                    </li>
                                    <li class=""><a href="/gallery">Gallery</a>
                                       
                                    </li>
                                    <li><a href="/contact_us">Contact Us</a></li>
                                    
                                 </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                        
                        <!--Donate Btn-->
                        <a href="donate.html" class="donate-btn theme-btn">Donate Now</a>
                        
                    </div><!--Nav Outer End-->
                    
                </div>
                
            </div>
        </div><!-- Header Upper End -->
        
        
        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="index.html" class="img-responsive" title="CharityPro"><img src="/assets/ashraya.png" alt="CharityPro" title="CharityPro"></a>
                </div>
                
                <!--Menu Colum-->
                <div class="menu-column pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="/">Home</a>
                                        
                                </li>
                                <li class=""><a href="/about_us">About Us</a>
                                    
                                </li>
                                <li class=""><a href="/sponsor_meal">Sponsor a meal</a>
                                    
                                </li>
                                <li class=""><a href="/partners">Partners</a>
                                    
                                </li>
                                <li class=""><a href="/gallery">Gallery</a>
                                   
                                </li>
                                <li><a href="/contact_us">Contact Us</a></li>
                             </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div><!--End Sticky Header-->
    
    </header>
<body>

<%= yield %>
<footer class="main-footer">
      <!--Widgets Section-->
      <div class="widgets-section">
          <div class="auto-container">
              <div class="row clearfix">
                  <!--Big Column-->
                    
                    
                    <!--Big Column-->
                    <div class="big-column col-md-8 col-sm-12 col-xs-12">
                      <div class="row clearfix">
                            <!--Footer Column-->
                            <div class="footer-column col-md-4 col-sm-4 col-xs-12">
                              <div class="footer-widget links-widget">
                                    <h2>About Us</h2>
                                    Our Ashram is registered with the Government of Karnataka (Reg No. 16/05-06) and is situated in Rajajinagar, Bangalore.turned towards the bed, caused her to look round.
                                </div>
                            </div><!--End Footer Column-->
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-4 col-sm-4 col-xs-12">
                              <div class="footer-widget links-widget">
                                    <h2>Press</h2>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Donate</a></li>
                                            <li><a href="#">Sponsor a Meal</a></li>
                                            <li><a href="#">Partners</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--End Footer Column-->
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-4 col-sm-4 col-xs-12">
                              <div class="footer-widget links-widget">
                                    <h2>Get in Touch</h2>
                                    <div class="widget-content">
                                        Address: #135,1st k block, Dr.Rajkumar road, Rajajinagar–2nd stage, Bangalore – 560 010. Landline:080-23124666
                                    </div>
                                </div>
                            </div><!--End Footer Column-->
                            
                        </div>
                    </div><!--End Big Column-->
                    
                </div>
            </div>
        </div>
        <div id="loader"></div>
        <!--Footer Bottom-->
        <div class="footer-bottom">
          <div class="auto-container">
              <div class="bottom-box">
                  <!--Social Links-->
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        </ul>
                    </div>
                    <!--BIg Title-->
                    <div class="bottom-title">Ashraya Seva Trust</div>
                    <!--Copyright-->
                    <div class="copyright-text">Copyright &copy; 2017. All Rights Reserved By <a href="www.parabolasolutions.com">Powered by Parabola solutions</a></div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
<script type="text/javascript">
  $(window).load(function() {      //Do the code in the {}s when the window has loaded 
    $("#loader").fadeOut("fast");  //Fade out the #loader div
  })

</script>